---
title: GitLab Product
suppress_header: true
description: "GitLab Product"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education

  .services-page
    .page-container.container
      .row
        .col-md-10.col-md-offset-1
          %h1.page-headline
            GitLab Product Training
          #overview
            %h2
              Overview
            %h3 What is GitLab Product
            %p.services-text
              GitLab is the first single application for the entire DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 200% faster, radically improving the speed of business.
            %p.services-text
              Concurrent DevOps is a new way of thinking about how we create and ship software. Rather than organizing work in a sequence of steps and handoffs, the power of working concurrently is in unleashing collaboration across the organization.
          #syllabus
            %h2
              Syllabus
            %p.services-text
              GitLab is a complete DevOps platform, delivered as a single application that provides everything you need to Manage, Plan, Create, Verify, Package, Release, Configure, Monitor, and Secure your applications. 
              %ul
                %li 
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/manage/'} Manage
                %li 
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/plan/'} Plan
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/create/'} Create
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/verify/'} Verify
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/package/'} Package
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/secure/'} Secure
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/release/'} Release
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/configure/'} Configure
                %li
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/monitor/'} Monitor
                %li 
                  %a{href: 'https://about.gitlab.com/stages-devops-lifecycle/defend/'} Defend
          #resources
            %h2
              Pre-training Resources
            %p.services-text
              These resources act as prerequisites to the training and will help ensure you have a successful training session with the GitLab team.
            %ul
              %li.services-text 
                %a{href: 'https://www.youtube.com/watch?v=XbE8IXlfTJg&t=28s'} GitLab Demo
              %li.services-text
                %a{href: 'https://www.youtube.com/watch?v=68rGlAihKFw&t=37s'} GitLab Complete DevOps
              
